<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>JSON API Demo</h2>

<ul>
    <li><a href="/teams-json">GET members from teams.json</a></li>
</ul>

<h2>DB API Demo:</h2>
<ul>
  <li><a href="/teams/install">create MySQL members TABLE</a></li>
  <li><a href="/teams">GET members from MySQL</a></li>
</ul>